<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<h2 class="section-heading">About</h2>-->
                <h3 class="section-subheading text-muted text-justify">The SARS-CoV-2 pandemic, like other recent epidemics, highlights the global importance of infectious disease outbreaks. The scale, speed, and diversity of these epidemics demand an equally scalable, rapid, and agile scientific response to prevent and control their impact. Outbreak Science, a nonprofit founded in 2016 to support open data, open access, and open science in the context of epidemic responses, is taking a break while all the outbreak scientists are busy at their day jobs.</h3>
            </div>
        </div>
    </div>
</section>
